body {
    background: linear-gradient(red, blue);
}
h1{
    padding:10px 10px 10px 10px;
    background-color:#853ef7;
    color:purple;
    float:center;
    font-family:impact;
    text-align: center;
    height:20%;
    font-size:100px;
    
}
#piechart_3d{
      width: 100%;
     height: 500px;
     overflow:scroll; 
    }
label{
    font-size:30px;
    text-align:center;
}
#formarea{
    text-align:center;
}
#buttoncontainer{
    width:10%;
    height:30px;
    background:#2087af;
    border-radius:10px;
    position: relative;
    left:35%;
    margin-top:10px;
}